@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

* {
  transition: 0.15s;
  font-family: 'Quicksand', sans-serif;
  color: #dcdcdc;
  user-select: none;
}

body {
  background-color: #14151f;
  margin: 0;
  padding: 0;
}

.nuxt {
  position: absolute;
  top: 40px;
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease;
}
.page-enter {
  top: 60px;
  opacity: 0;
}
.page-enter-to {
  top: 40px;
  opacity: 1;
}
.page-leave {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}
